body {
    display: flex;
    margin: 15vh;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center !;
}

div {
    background: #fff;
    border: #000 solid 1px;

    width: 195px;
    height: 150px;
}

div:hover {
    background: #e6dfdf;
}

div:active {
    position: relative;
    top: 1px;
}
