body {
    display: flex;
    margin: 15vh;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center !;
}

div {
    animation: 1.5s slidein;
    background: var(--color-div);
    border: 1px solid #000;

    box-shadow: 1px 1px 1px #000;
    height: 150px;
    width: 195px;
}

div:hover {
    background: #e6dfdf;
}

div:active {
    position: relative;
    top: 1px;
}

@keyframes slidein {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
@-moz-keyframes slidein {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
@-webkit-keyframes slidein {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
@-o-keyframes slidein {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}