* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  height: 150px;
  width: 195px;
}

.container,
.note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: 1.5s slidein;
  animation: 1.5s slidein;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px #000;
}

.note {
  width: 100%;
}

.main-note {
  background: #fff;
  height: 100%;
  z-index: 0;
}

.main-note:hover {
  background: #e6dfdf;
}

.main-note:active {
  position: relative;
  top: 1px;
}

.sub-note {
  height: 65%;
  margin-left: 1rem;
  background-color: #000;
  z-index: 1;
}

@keyframes slidein {
  from {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}