:root {
  --color-div: #fff;
  --color-div-hover: #e6dfdf;
}

body {
  display: flex;
  margin: 25vh;
  justify-content: center;
}

.container {
  display: flex;
  animation: 1.5s slidein;
  background: var(--color-div);
  border: 1px solid #000;

  box-shadow: 1px 1px 1px #000;
  height: 150px;
  width: 195px;
}

div.main-note {
  animation: 1.5s slidein;
  background: var(--color-div);
  border: 1px solid #000;

  box-shadow: 1px 1px 1px #000;
  height: 150px;
  width: 195px;
  z-index: 0;
}

div.main-note:hover {
  background: var(--color-div-hover);
}

div.main-note:active {
  position: relative;
  top: 1px;
}

div.sub-note {
  animation: 1.5s slidein;
  background: var(--color-div);
  border: 1px solid #000;

  box-shadow: 1px 1px 1px #000;
  height: 100px;
  width: 10px;
  margin-left: 15px;
  background-color: #000;
  z-index: 1;
}

@keyframes slidein {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@-moz-keyframes slidein {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@-webkit-keyframes slidein {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@-o-keyframes slidein {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
